SECRET_KEY=django-insecure-9h)k6(e^z9^%v$ay4qv24z(seh44t^gislfbk83r7%c3%j^k!@

DEBUG=True

DATABASE_NAME=LMS-DRF
DATABASE_USER=django_user
DATABASE_PASSWORD=django_password
DATABASE_HOST=localhost
DATABASE_PORT=5432
